body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.home-container {
  padding: 20px;
  max-width: 1500px;
  margin: auto;
}

.wiper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.wiper-wrapper {
  overflow: hidden;
  width: 80%;
}

.wiper-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.wiper-item-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wiper-item {
  position: relative;
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.wiper__image {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.movie-content {
  width: 100%;
  padding: 15px;
  text-align: center;
  color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.movie-title {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.wiper-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.wiper-button img {
  width: 30px;
  height: 30px;
}

.wiper-button__left {
  position: absolute;
  left: 10px;
  z-index: 10;
}

.wiper-button__right {
  position: absolute;
  right: 10px;
  z-index: 10;
}

/* Upcoming Movies Section */
.upcoming-movies {
  margin-top: 40px;
}

.upcoming-movies h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Added text shadow for better visibility */
}

.upcoming-movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  }

.upcoming-movie-card {
  flex: 1 1 calc(20% - 20px);
  max-width: 200px;
  border: 1px solid #333;
  padding: 10px;
  border-radius: 8px;
  background: #1f1f1f;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-decoration: none; /* Ensure no underline */
}

.upcoming-movie-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.upcoming-movie-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.upcoming-movie-title {
  font-size: 1rem;
  margin-top: 10px;
  color: #ffffff;
}

.upcoming-movie-content p {
  font-size: 0.9rem;
  color: #cccccc;
  margin: 5px 0;
}

/* Link styling */
.upcoming-movie-card {
  color: #ffffff; /* Text color */
}

.upcoming-movie-card a {
  text-decoration: none; /* Remove underline from links */
}
